.section {
	display: flex;
	flex-direction: column;
	background-color: var(--bg-surface);
	color: var(--text-primary);
	transition: background-color var(--transition-fast);
}

.section-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--padding-y-header) var(--padding-x-header);
	border-bottom: 1px solid var(--border-color-primary);
}

.section-content-wrapper {
	overflow-y: auto;
}

.section-title {
	font-weight: 700;
	color: var(--text-primary);
}

.section-subtitle {
	font-size: 0.75rem;
	color: var(--text-muted);
}

.section-action {
	display: flex;
	gap: 0.75rem;
}